
.container{
    height: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    place-items: center;
    padding: auto;
    background-color: rgb(251, 251, 251);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.newsCard{

    width: 25vw;
    height: fit-content;
    margin-top: 6%;
    margin-bottom: 6%;
    
    background-color: rgb(1, 1, 105);
    
}

.textProperties{
    color: white;
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 1vw;
}

.img1{
    width: 100%;
    align-self: center;
}
